* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #272727;
    color: yellowgreen;
}

h1, p {
    padding: 1.5rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: crimson;
    padding: .5rem;
}

h1, h2 {
    color: tomato;
}